    
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <script type="text/javascript" async
                src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css" type="text/css" />
        
        <style>
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
        @media (min-width:980px) and (max-width:1199px) {
            .no-overflow {
                width:11.5vw;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
            }
        }
        </style>

    </head>
    
    <body>


        {% block content %}
        {% endblock %}

    <body>

</html>

